body {
    margin: 0;
    padding: 0;
    font-family: Inter;
  }
  
  header {
    z-index: 10;
    position: fixed;
    background: #fff;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 30px;
  }
  
  .left_area img {
    width: 80px;
    height: 50px;
    margin-left: 60px;
  }
  
  /* .logout_btn {
    padding: 5px;
    background: #fff;
    text-decoration: none;
    float: right;
    margin-top: -50px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    transition: 0.5s;
    transition-property: background;
  } */
  
  .logout_btn {
    width: 50px;
    height: 50px;
    margin-top: -60px;
    margin-right: 40px;
    float: right;
  }
  
  .logout_btn:hover {
    background: #0b87a6;
  }
  
  .sidebar {
    z-index: 1;
    top: 0;
    background: #fff;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    border-right: 1px solid #d0d5dd;
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
  }
  
  .profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar .profile_info .profile_image {
    width: 100px;
    height: 60px;
    border-radius: 100px;
    margin-bottom: 10px;
  }
  
  .sidebar .profile_info h4 {
    color: #000;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .sidebar a {
    color: #000;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sidebar .judul {
    padding-left: 20px;
  }
  
  .sidebar a:hover {
    background: #bec1c2;
  }
  
  .sidebar i {
    padding-right: 10px;
  }
  
  label #sidebar_btn {
    z-index: 1;
    color: #000;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 30px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover {
    color: #193bd3;
  }
  
  #check:checked ~ .sidebar {
    left: -185px;
  }
  
  #check:checked ~ .sidebar a span {
    display: none;
  }
  
  #check:checked ~ .sidebar a {
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
  }
  
  .content {
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
    background: url(background.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
  }
  
  #check:checked ~ .content {
    margin-left: 60px;
  }
  
  #check:checked ~ .sidebar .profile_info {
    display: none;
  }
  
  #check {
    display: none;
  }
  
  .mobile_nav {
    display: none;
  }
  
  .content .card p {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
  }
  
  .input-container {
    display: flex;
    width: 80%;
    height: 32px;
    padding: 4px 12px;
    gap: 8px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #d0d5dd);
    background: var(--White, #fff);
  }
  
  .input-field {
    border: none;
    outline: none;
    width: 100%;
    color: var(--Gray-500, #667085);
  
    /* Text md/Normal */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  
  /* Responsive CSS */
  
  @media screen and (max-width: 780px) {
    .sidebar {
      display: none;
    }
  
    #sidebar_btn {
      display: none;
    }
  
    .content {
      margin-left: 0;
      margin-top: 0;
      padding: 10px 20px;
      transition: 0s;
    }
  
    #check:checked ~ .content {
      margin-left: 0;
    }
  
    .mobile_nav {
      display: block;
      width: calc(100% - 0%);
    }
  
    .left_area img {
      margin-left: 0px;
    }
  
    .nav_bar {
      background: #fff;
      width: (100% - 0px);
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 25px;
      margin-left: -5%;
    }
  
    .nav_bar .mobile_profile_image {
      width: 80px;
      height: 50px;
      border-radius: 50%;
      margin-left: 0px;
    }
  
    .nav_bar .nav_btn {
      color: #000;
      font-size: 22px;
      cursor: pointer;
      transition: 0.5s;
      transition-property: color;
    }
  
    .nav_bar .nav_btn:hover {
      color:#193bd3;
    }
  
    .mobile_nav_items {
      background: #fff;
      display: none;
    }
  
    .mobile_nav_items a {
      color: #000;
      display: block;
      text-align: center;
      letter-spacing: 1px;
      line-height: 60px;
      text-decoration: none;
      box-sizing: border-box;
      transition: 0.5s;
      transition-property: background;
    }
  
    .mobile_nav_items a:hover {
      background: #c5cfd0;
    }
  
    .mobile_nav_items i {
      padding-right: 10px;
    }
  
    .active {
      display: block;
    }
  }
  